<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Online shop</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Niconne'>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    {{>header}}
    <div class="container-fluid">
        {{>aside}}
        <div id='products' class="row">
            <main id='main' class="col-xs-12 col-sm-9 col-md-10 col-lg-12">
                {{> (partial) }}
            </main>
        </div>
    </div>
    {{>footer}}
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/shop.js"></script>
</body>

</html>