<div class="visible-xs-block xs-option-container">
    <a class="pull-left" data-toggle="collapse" href="#productCatalog">Product catalog<span class="caret"></span></a>
</div>
<div id="dashboardNav">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#">Add category</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Add producer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Add product</a>
        </li>
    </ul>
</div>